*{
padding:0;
margin:0;
 }
body{
width:50w;
display: flex;
font-family:sans-serif;
text-align: center;
}
h1{
 margin:auto;
 text-align: center;
 margin:100px;
}
.button{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  text-decoration:none;
  background:#000;
  color:#fff;
  padding:20px 35px;
  font-size:20px;
  
}
#si{
  left:20%;
    transform:translateY(-50%) translateX(-20%);
}

#no{
  left:80%;
    transform:translateY(-50%) translateX(-80%);
}

@media screen and (max-width: 400px){
    .contenedor{

    }
}

@media screen and (max-width: 502px){
    .contenedor{
        width: 500px;
    }
}